/* GLOBAL */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #f4f4f4;
}
.container1{
    width:88%;
    margin:auto;
    overflow:hidden;
    color:white;
    font-size: 90%;
    text-align: center;
}

/* HEADER */
 .head{
	background: 30px black;
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 20px;
}
.head img{
	float: left;
	display: inline;
	padding-left: 25%;
	padding-right: 25%;
}
.head form{
	display: inline;
        margin-top: 0px;
	background:url(../media/ic_search.png) no-repeat;
        min-height: 10Vh;
	padding-left:20px;
}
/* SHOWCASE */
#showcase {
	  min-height:80vh;
          background :url(../media/img_hero.jpg) no-repeat; 
          background-size:cover;
}
#showcase h1 {
	    margin-top: 0px;
            font-size: 100px;
            font-weight: bold;
            text-align: center;
            padding-top: 10%;
}
.grid-container2{
	display: grid;
	grid-template-columns: auto auto auto;
        margin-right: 30%;
	margin-left: 20%;
}
.box2 {
        position:relative;
	top:90px;
	padding-right: 40%;
 }
 .box2 img{
 	border-radius: 50%;
 }
/*  SHOWCASE1 */
.showcase1 h2{
	margin-top: 10%;
	text-align: center;
	font-size: 64px;
	color:#E8BE02;

}
.showcase1 p{
	margin-top: 0px;
        text-align: center;
	font-size: 20px;
	color: #4F4D53;
}
.grid-container1 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 10px;
	margin-right: 30%;
	margin-left: 30%;
}
.box1 {
	text-align: center;
  	padding: 10px;
  }
 .box1 img{
 	border-radius: 50%;
 }
 .box1 h4{
       font-size: 20px;
       color:#E8BE02;
       text-align: center;
 }
 .box1 p{
 	font-size: 20px;
 	color:#4F4D53;
 	text-align: center;
 }
/* FOOTER   */
 .foot {
	margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
	background:320px #4F4D53;
	border-top:#E8BE02 solid 12px;
	line-height: 5px; 
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin-right: 20%;
	margin-left: 20%;

}

  .box {
  	text-align: center;
  	padding: 10px;
  }
  .box h3 {
  	color:#E8BE02;
  	font-size:20px;
  }
  .box h4{
  	color:#FFFFFF;
  	font-size: 14px;
  }

  /* MEDIA QUERIES */

 @media(max-width: 568px){
  #showcase,
  .grid-container2,
  .grid-container2 h1 {
               min-width: 80%;
               height: 50%;
               text-align: center;
           }
.box2 {
           position:relative;
           top:50px;
}
.box2 img {
                max-width:20Vh;
                margin-left:-60px;
                padding:5px; 
                image-rendering:pixelated;
}
}
  
    
